@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=Dela+Gothic+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bricolage-grotesque: "Bricolage Grotesque", sans-serif;
  --dela-gothic-one: "Bricolage Grotesque", sans-serif;
}

.mouth-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 200px; /* Adjust as needed */
  overflow: hidden;
}

.mouth {
  width: 80px;
  background-color: #ff0000; /* Red mouth color */
  border-radius: 50% 50% 0 0;
  transform-origin: bottom center;
  transition: height 0.1s ease-in-out;
}
